.item {
    width: 15rem;
    border-radius: 5px;

    -webkit-box-shadow: 3px 4px 5px 0px rgba(204,204,204,1);
    -moz-box-shadow: 3px 4px 5px 0px rgba(204,204,204,1);
    box-shadow: 3px 4px 5px 0px rgba(204,204,204,1);
}

.cj_img {
    width: 100%;
    height: 15rem;
    
}

.cj_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

.descripcion {
    font-size: var(--sizeParrafo);
    padding: 0.5rem 0.5rem;
}
.precio {
    display: block;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
    padding: 0.5rem 0.5rem;
    border-radius: 0px 0px 5px 5px;

    background-color: rgb(255, 202, 26);
}